.hero {
    padding: 3rem 1.5rem;
    color: #b749ae;
    font-family: sans-serif;
}

.hero .btn {
    color: #0f172a;
    background-color: #f6aff2;
}


.card {
    margin: 1.5rem 0;
    padding: 1.25rem;
    background-color: rgb(255, 185, 213);
    color: #0f172a;
}